:root {
  /* --- FARVER --- */
  --primary-color3: #181818;
  --primary-color2: #4eaf4e;
  --primary-color1: #ffcc4a;
  --secondary-color1: #f5f5f5;
  --secondary-color2: #fff;
  --transparent-color: rgba(27, 27, 27, 0.91);

  /* --- FLOWSPACE ---*/
  --flow-space: 0.69rem;

  /* --- SIZES FONTS --- */
  --paragraph-fontsize: clamp(14px, 2vw, 18px);
  --h4-fontsize: clamp(16px, 2.5vw, 22px);
  --h3-fontsize: clamp(20px, 3vw, 28px);
  --h2-fontsize: clamp(24px, 4vw, 36px);
  --h1-fontsize: clamp(32px, 5vw, 56px);

  /* --- KNAPLAYOUT --- */
  --btn-font-size: var(--paragraph-fontsize);
  --btn-padding: 16px 31px;
  --btn-border-radius: 42px;
  --btn-transition: 0.3s ease-in-out;

  /* --- BACKGROUNDS --- */
  --checkmark-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%234EAF4E" d="M176.49 95.51a12 12 0 0 1 0 17l-56 56a12 12 0 0 1-17 0l-24-24a12 12 0 1 1 17-17L112 143l47.51-47.52a12 12 0 0 1 16.98.03M236 128A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108m-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84"/></svg>');
}

/* --- TYPOGRAFI --- */
h1 {
  color: var(--secondary-color2);
  font-size: var(--h1-fontsize);
  font-family: "Cabin", sans-serif;
  margin: 0;
}

h2 {
  color: var(--secondary-color1);
  font-size: var(--h2-fontsize);
  font-family: "Cabin", sans-serif;
}

h3 {
  color: var(--secondary-color2);
  font-size: var(--h3-fontsize);
  font-family: "Cabin", sans-serif;
  margin: 0;
}

h4 {
  color: #181818;
  background-color: var(--primary-color1);
  border-radius: var(--btn-border-radius);
  display: inline-flex;
  padding: 0rem 0.9375rem;
  font-family: "Lato", sans-serif;
  font-size: var(--h4-fontsize);
  text-transform: uppercase;
}

.logo {
  font-family: "Cabin", sans-serif;
  font-size: var(--h2-fontsize);
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  text-decoration: none;
  color: var(--secondary-color2);
}

.login {
  font-family: "Lato", sans-serif;
  color: var(--primary-color3);
  font-size: var(--paragraph-fontsize);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color1);
  border-radius: 20px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: var(--paragraph-fontsize);
  color: var(--secondary-color2);
}

/* --- BILLEDER ---*/
img {
  max-width: 100%;
}

.image {
  grid-column: feature;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.image::before,
.image::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
}

.image::before {
  background-image: url("../../public/pattern.png");
}

.image::after {
  background-image: url("../../public/greensquare.png");
  border-radius: 20px;
}

/*  --- FARVE-TEMAER --- */
[data-surface="dark"] {
  background-color: var(--primary-color3);
  color: var(--secondary-color2);
}

[data-surface="white"] {
  background-color: var(--secondary-color2);
  color: var(--primary-color3);
}

[data-surface="grey"] {
  background-color: var(--secondary-color1);
  color: var(--primary-color3);
}

/* --- LAYOUT --- */
body {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(100ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

header {
  grid-column: full;
  align-items: center;
  max-height: 112px;
  width: 100%;
  max-width: unset;
  margin: 0 auto;
  display: grid;
}

footer {
  display: grid;
  grid-column: full;
}

section {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;
}

.banner-wrapper {
  grid-column: full;
  width: 100%;
  height: auto;
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: repeat(3, 1fr);
}

.expectlist {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
}

.expectlist li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 1rem;
  color: #595566;
}

li:before {
  content: "";
  width: 1.6rem;
  height: 1lh;
  background: var(--checkmark-icon) 50% 50% / 100% auto no-repeat;
}

/* --- BANNER --- */
.banner {
  display: grid;
  grid-row: 1/4;
  grid-column: 1/4;
  background-color: var(--primary-color3);
  width: 100%;
  height: auto;
  max-height: 600px;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.pattern {
  grid-column: 1/2;
  grid-row: 2/3;
}

.text-container {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.ban-billede {
  grid-column: 3/4;
  grid-row: 1/4;
  min-width: 0;
}

.ban-billede img {
  height: 100%;
  object-fit: cover;
  min-width: 0;
}

/* --- BANNER CARDS --- */
.cards-container {
  grid-column: feature;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  top: -9.2rem;
  margin: 0 auto;
  gap: 1rem;
}
