---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Chrys - Fdopgave</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>

    <section>
      <div class="banner">
        <div class="pattern">
          <img src="/pattern.png" alt="" />
        </div>
        <div class="text-container">
          <div class="text">
            <h2>Empowering Your Business Growth</h2>
            <p>
              Discover tailored strategies and expert insights to take your
              business to the next level. Let us help you navigate challenges
              and achieve sustainable success.
            </p>
          </div>
          <button class="btn">Book a Meeting</button>
        </div>
        <div class="ban-billede">
          <img src="/bannerportræt.png" alt="" />
        </div>
      </div>
    </section>

    <div class="cards-container">
      <Card
        title="Finance & Restructuring"
        text="Unlock financial clarity and implement effective restructuring strategies to optimize your business operations."
        btnText="Our Services"
      />
      <Card
        title="Our Approach"
        text="Explore our proven methods for achieving growth and building resilience through customized solutions."
        btnText="More About"
      />
      <Card
        title="Consultalk Result"
        text="Experience actionable insights and measurable results through expert consultation and tailored guidance."
        btnText="Explore Our Solution"
      />
    </div>

    <section>
      <div class="imgpattern"></div>
      <div class="image"></div>
      <div class="textbox">
        <div class="note">We'll work with you</div>
        <h3>What To Expect</h3>
        <p>
          Our collaboration is built on transparency, efficiency, and measurable
          results. Together, we create strategies tailored to your unique needs
          and goals.
        </p>

        <ul class="expect-list">
          <li>
            Collaborate to build actionable strategies that drive sustainable
            growth and deliver tangible outcomes.
          </li>
          <li>
            Identify opportunities to optimize processes and implement impactful
            solutions with measurable results.
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
