---
const { title, text, btnText } = Astro.props;
import Knap from "../components/Knap.astro";
---

<div class="card">
  <div class="card-text">
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
  <Knap variant="btn default-black" btnText={btnText} />
</div>

<style>
  .card {
    background-color: rgba(38, 38, 38, 0.9);
    color: var(--secondary-color1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.8rem;
    border-radius: 20px;
  }
</style>
