---
//
---

<footer class="footer-container">
  <div class="footer-content">
    <div class="logo">AskExperts</div>
    <hr />
    <div class="footer-text">
      <p>
        ©2022 Consultalk. All rights reserved | Terms of Service | Privacy
        Policy
      </p>
    </div>
  </div>
</footer>

<style>
  .footer-container {
    background-color: var(--primary-color3);
    padding: 2.8rem 0;
    height: auto;
    width: 100%;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.3rem;
  }

  hr {
    width: 100%;
    border: 1;
    color: ##707070;
  }

  .footer-text p {
    color: var(--secondary-color2);
  }
</style>
