---
import "../styles/global.css";
const { btnText, link, variant, target, navn } = Astro.props;
---

<button class={variant}>{btnText}</button>

<style>
  .btn {
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding);
    align-items: center;
    font-size: var(--btn-font-size);
    transition: var(--btn-transition);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .default-black {
    background-color: var(--primary-color3);
    color: var(--secondary-color1);
  }

  .default-white {
    background-color: var(--secondary-color2);
    color: var(--primary-color3);
  }

  .default-black:hover {
    background-color: var(--secondary-color1);
    color: var(--primary-color3);
  }

  .default-yellow {
    background-color: var(--primary-color1);
    color: var(--primary-color3);
  }

  .default-yellow:hover {
    background-color: var(--primary-color3);
    color: var(--secondary-color1);
  }
</style>
